.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj
iqtree_analysis/
.drake/
data/
data_raw/
temp/
drafts/
renv/
results/
other_images/
working
references_raw.bib
.DS_Store
*.grd
*.gri
*.vrt
*.log
*.pdf
*_cache/
*.csv
*.eps
*.tiff
