.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
iqtree_analysis/
.drake/
data/
data_raw/
temp/
drafts/
renv/
results/
references_raw.bib
.DS_Store
*.grd
*.gri
*.vrt
*.log
*.pdf
*_cache/
*.csv
*.eps
*.tiff
